#animl{
    background-color: #000000;
    width: 30vw;
    color: #fff;
    animation: myAnim 5s linear alternate infinite;
}
@keyframes myAnim{
    0%{
        margin-left: 0px;
    }
    30%{
        background-color: darkorange;
    }
    100%{
        margin-left: 500px;
    }
}


